/*
* @Author: Yezi
* @Date:   2016-12-17 10:21:29
* @Last Modified by:   Yezi
* @Last Modified time: 2016-12-17 10:21:29
*/
.wk_bxrs {
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
}
.wk_bxrs_h {
  -webkit-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.15);
}
/* 自定义iconfont */
@font-face {
  font-family: "wk_iconfont";
  src: url('../font/iconfont-v1.eot?t=1484883258310');
  src: url('../font/iconfont-v1.eot?t=1484883258310#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../font/iconfont.woff?t=1484883258310') format('woff'), /* chrome, firefox */ url('../font/iconfont.ttf?t=1484883258310') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/ url('../font/iconfont.svg?t=1484883258310#wk_iconfont') format('svg');
  
  /* IE9*/
  /* iOS 4.1- */
}
.wk_iconfont {
  font-family: "wk_iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-wk_9011:before {
  content: "\e609";
}
.icon-wk_9010:before {
  content: "\e60a";
}
.icon-wk_9007:before {
  content: "\e60b";
}
.icon-wk_9008:before {
  content: "\e60c";
}
.icon-wk_9006:before {
  content: "\e60d";
}
.icon-wk_9001:before {
  content: "\e60e";
}
.icon-wk_9005:before {
  content: "\e60f";
}
.icon-wk_9004:before {
  content: "\e610";
}
.icon-wk_9003:before {
  content: "\e611";
}
.icon-wk_9002:before {
  content: "\e612";
}
.icon-wk_9016:before {
  content: "\e61d";
}
.icon-wk_9015:before {
  content: "\e61e";
}
.icon-wk_9014:before {
  content: "\e61f";
}
.icon-wk_9013:before {
  content: "\e620";
}
.icon-wk_9012:before {
  content: "\e621";
}
.icon-wk_9017:before {
  content: "\e614";
}
.icon-wk_9018:before {
  content: "\e615";
}
.icon-wk_9019:before {
  content: "\e616";
}
.icon-wk_9024:before {
  content: "\e617";
}
.icon-wk_9025:before {
  content: "\e618";
}
.icon-wk_9026:before {
  content: "\e619";
}
.icon-wk_9027:before {
  content: "\e623";
}
.icon-wk_9028:before {
  content: "\e624";
}
.icon-wk_9020:before {
  content: "\e61a";
}
.icon-wk_9021:before {
  content: "\e61b";
}
.icon-wk_9022:before {
  content: "\e61c";
}
.icon-wk_9023:before {
  content: "\e622";
}
.icon-wk_9029:before {
  content: "\e628";
}
.icon-wk_9030:before {
  content: "\e626";
}
.icon-wk_9031:before {
  content: "\e627";
}
/* wk定义 a */
/* FIXME: 不知为何日期控件样式总是计算错误, 强制加上这个样式 */
.bootstrap-datetimepicker-widget {
  display: block !important;
}
a {
  color: #108ee9;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
a:hover,
a:focus {
  color: #29a1f7;
  text-decoration: underline;
}
a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
/* wk定义 .btn-primary */
.btn-primary {
  color: #fff;
  background-color: #108ee9;
  border-color: #108ee9;
}
.btn-primary:focus,
.btn-primary.focus {
  color: #fff;
  background-color: #29a1f7;
  border-color: #29a1f7;
}
.btn-primary:hover {
  color: #fff;
  background-color: #29a1f7;
  border-color: #29a1f7;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #29a1f7;
  border-color: #29a1f7;
}
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  color: #fff;
  background-color: #29a1f7;
  border-color: #29a1f7;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus {
  background-color: #108ee9;
  border-color: #108ee9;
}
.btn-primary .badge {
  color: #108ee9;
  background-color: #fff;
}
/* bootstrap扩展 */
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  /* 不需要响应式开发 */
  min-width: 1230px !important;
  width: 1230px !important;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1230px;
  }
}
.navbar_wekuo {
  background-color: transparent;
  border: 0 none;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.navbar_wekuo .navbar-brand {
  color: #777;
}
.navbar_wekuo .navbar-brand:hover,
.navbar_wekuo .navbar-brand:focus {
  color: #5e5e5e;
  background-color: transparent;
}
.navbar_wekuo .navbar-text {
  color: #555555;
}
.navbar_wekuo .navbar-nav > li > a {
  color: #404040;
  padding: 0 15px;
  line-height: 70px;
  font-size: 16px;
  -weblit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.navbar_wekuo .navbar-nav > li > a .icon-wk_9030 {
  font-size: 17px;
}
.navbar_wekuo .navbar-nav > li > a:hover,
.navbar_wekuo .navbar-nav > li > a:focus {
  color: #108ee9;
  background-color: transparent;
}
.navbar_wekuo .navbar-nav > .active > a,
.navbar_wekuo .navbar-nav > .active > a:hover,
.navbar_wekuo .navbar-nav > .active > a:focus {
  color: #108ee9;
  background-color: #f4f6f8;
}
.navbar_wekuo .navbar-nav > .disabled > a,
.navbar_wekuo .navbar-nav > .disabled > a:hover,
.navbar_wekuo .navbar-nav > .disabled > a:focus {
  color: #ccc;
  background-color: transparent;
}
.navbar_wekuo .navbar-toggle {
  border-color: #ddd;
}
.navbar_wekuo .navbar-toggle:hover,
.navbar_wekuo .navbar-toggle:focus {
  background-color: #ddd;
}
.navbar_wekuo .navbar-toggle .icon-bar {
  background-color: #888;
}
.navbar_wekuo .navbar-collapse,
.navbar_wekuo .navbar-form {
  border: none;
  padding: 0;
}
.navbar_wekuo .navbar-nav > .open > a,
.navbar_wekuo .navbar-nav > .open > a:hover,
.navbar_wekuo .navbar-nav > .open > a:focus {
  color: #108ee9;
  background-color: transparent;
}
@media (max-width: 767px) {
  .navbar_wekuo .navbar-nav .open .dropdown-menu > li > a {
    color: #777;
  }
  .navbar_wekuo .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar_wekuo .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333;
    background-color: transparent;
  }
  .navbar_wekuo .navbar-nav .open .dropdown-menu > .active > a,
  .navbar_wekuo .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar_wekuo .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #108ee9;
    background-color: ;
  }
  .navbar_wekuo .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar_wekuo .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar_wekuo .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
  }
}
.navbar_wekuo .navbar-link {
  color: #777;
}
.navbar_wekuo .navbar-link:hover {
  color: #333;
}
.navbar_wekuo .btn-link {
  color: #777;
}
.navbar_wekuo .btn-link:hover,
.navbar_wekuo .btn-link:focus {
  color: #333;
}
.navbar_wekuo .btn-link[disabled]:hover,
fieldset[disabled] .navbar_wekuo .btn-link:hover,
.navbar_wekuo .btn-link[disabled]:focus,
fieldset[disabled] .navbar_wekuo .btn-link:focus {
  color: #ccc;
}
#wk-navbar-collapse > .navbar-nav > li {
  margin: 0 7px;
}
#wk-navbar-collapse .dropdown-menu > li > a {
  display: block;
  padding: 5px 20px;
  clear: both;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  color: #404040;
  white-space: nowrap;
}
#wk-navbar-collapse .dropdown-menu > li > a > i {
  width: 20px;
  display: inline-block;
}
#wk-navbar-collapse .dropdown-menu > li > a:hover,
#wk-navbar-collapse .dropdown-menu > li > a:focus {
  color: #fff;
  text-decoration: none;
  background-color: rgba(16, 142, 233, 0.5);
}
#wk-navbar-collapse .dropdown-menu > .active > a,
#wk-navbar-collapse .dropdown-menu > .active > a:hover,
#wk-navbar-collapse .dropdown-menu > .active > a:focus {
  color: #fff;
  text-decoration: none;
  background-color: #108ee9;
  outline: 0;
}
#wk-navbar-collapse .dropdown-menu > .disabled > a,
#wk-navbar-collapse .dropdown-menu > .disabled > a:hover,
#wk-navbar-collapse .dropdown-menu > .disabled > a:focus {
  color: #777;
}
#wk-navbar-collapse .dropdown-menu > .disabled > a:hover,
#wk-navbar-collapse .dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
#wk-navbar-collapse .open > .dropdown-menu {
  display: block;
}
#wk-navbar-collapse .open > a {
  outline: 0;
}
#wk-navbar-collapse .dropdown-menu-right {
  right: 0;
  left: auto;
}
#wk-navbar-collapse .dropdown-menu-left {
  right: auto;
  left: 0;
}
/* 导航logo */
.navbar-brand-wk > h1.logo {
  width: 100px;
  height: 70px;
  overflow: hidden;
  text-indent: -9999px;
  padding: 0 20px;
  margin: 0;
  font-size: 30px;
  letter-spacing: 3px;
  color: #108ee9;
  background: url('/res/images/logo.png') center center no-repeat;
  background-size: 100px auto;
}
/* 首页自定义 - banner */
.carousel-control {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 50px;
  font-size: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  background-color: rgba(0, 0, 0, 0);
  filter: alpha(opacity=50);
  opacity: .5;
}
.carousel-control.left {
  background-color: transparent;
  background-image: none;
}
.carousel-control.right {
  right: 0;
  left: auto;
  background-color: transparent;
  background-image: none;
}
.carousel-indicators {
  position: absolute;
  bottom: 5px;
  left: 50%;
  z-index: 15;
  width: 60%;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  list-style: none;
}
.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #000 \9;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
  border-radius: 10px;
}
.carousel-indicators .active {
  width: 12px;
  height: 12px;
  margin: 0;
  background-color: #fff;
}
/* 首页tabs_wk */
.nav-tabs_wk {
  border-bottom: 1px solid #f2f2f2;
  padding: 0 20px;
}
.nav-tabs_wk > li {
  float: left;
  margin-bottom: -1px;
}
.nav-tabs_wk > li > a {
  margin-right: 2px;
  line-height: 45px;
  font-size: 16px;
  color: #404040;
  padding-top: 0;
  padding-bottom: 0;
  border: 0 none;
  border-radius: 0;
}
.nav-tabs_wk > li > a:hover {
  border-color: transparent;
  background-color: transparent;
  color: #108ee9;
}
.nav-tabs_wk > li.active > a,
.nav-tabs_wk > li.active > a:hover,
.nav-tabs_wk > li.active > a:focus {
  color: #108ee9;
  cursor: default;
  background-color: transparent;
  border: 0 none;
  outline: none;
  border-bottom: 2px solid #108ee9;
}
.nav-tabs_wk.nav-justified {
  width: 100%;
  border-bottom: 0;
}
.nav-tabs_wk.nav-justified > li {
  float: none;
}
.nav-tabs_wk.nav-justified > li > a {
  margin-bottom: 5px;
  text-align: center;
}
.nav-tabs_wk.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}
@media (min-width: 768px) {
  .nav-tabs_wk.nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .nav-tabs_wk.nav-justified > li > a {
    margin-bottom: 0;
  }
}
.nav-tabs_wk.nav-justified > li > a {
  margin-right: 0;
  border-radius: 4px;
}
.nav-tabs_wk.nav-justified > .active > a,
.nav-tabs_wk.nav-justified > .active > a:hover,
.nav-tabs_wk.nav-justified > .active > a:focus {
  border: 0 none;
}
@media (min-width: 768px) {
  .nav-tabs_wk.nav-justified > li > a {
    border-bottom: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
  }
  .nav-tabs_wk.nav-justified > .active > a,
  .nav-tabs_wk.nav-justified > .active > a:hover,
  .nav-tabs_wk.nav-justified > .active > a:focus {
    border-bottom-color: #fff;
  }
}
/* 话题、大咖tabs_wk */
.wk_reorder_tabs {
  border-bottom: 1px solid #f2f2f2;
  padding: 10px 20px 20px;
}
.wk_reorder_tabs > li {
  margin-bottom: -1px;
  display: inline-block;
}
.wk_reorder_tabs > li > a {
  margin-right: 2px;
  font-size: 13px;
  color: #999999;
  padding-top: 0;
  padding-bottom: 0;
  border: 0 none;
  border-radius: 0;
}
.wk_reorder_tabs > li > a:hover {
  border-color: transparent;
  background-color: transparent;
  color: #404040;
}
.wk_reorder_tabs > li.active > a,
.wk_reorder_tabs > li.active > a:hover,
.wk_reorder_tabs > li.active > a:focus {
  color: #108ee9;
  cursor: default;
  background-color: transparent;
  border: 0 none;
  outline: none;
}
.wk_reorder_tabs.nav-justified {
  width: 100%;
  border-bottom: 0;
}
.wk_reorder_tabs.nav-justified > li {
  float: none;
}
.wk_reorder_tabs.nav-justified > li > a {
  margin-bottom: 5px;
  text-align: center;
}
.wk_reorder_tabs.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}
@media (min-width: 768px) {
  .wk_reorder_tabs.nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .wk_reorder_tabs.nav-justified > li > a {
    margin-bottom: 0;
  }
}
.wk_reorder_tabs.nav-justified > li > a {
  margin-right: 0;
  border-radius: 4px;
}
.wk_reorder_tabs.nav-justified > .active > a,
.wk_reorder_tabs.nav-justified > .active > a:hover,
.wk_reorder_tabs.nav-justified > .active > a:focus {
  border: 0 none;
}
@media (min-width: 768px) {
  .wk_reorder_tabs.nav-justified > li > a {
    border-bottom: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
  }
  .wk_reorder_tabs.nav-justified > .active > a,
  .wk_reorder_tabs.nav-justified > .active > a:hover,
  .wk_reorder_tabs.nav-justified > .active > a:focus {
    border-bottom-color: #fff;
  }
}
/* 个人主页 nav */
.user_center_nav {
  border-bottom: 1px solid #f2f2f2;
  font-size: 0;
  text-align: center;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
.user_center_nav > li {
  margin: 0 50px;
  display: inline-block;
  overflow: hidden;
}
.user_center_nav > li > a {
  font-size: 16px;
  line-height: 52px;
  height: 54px;
  color: #404040;
  padding: 0 5px;
  border: 0 none;
  border-radius: 0;
  position: relative;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}
.user_center_nav > li > a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  display: block;
  width: 100%;
  background-color: #108ee9;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  -webkit-transform: translateY(3px);
  transform: translateY(3px);
}
.user_center_nav > li > a:hover {
  background-color: transparent;
  color: #108ee9;
}
.user_center_nav > li > a:hover::after {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.user_center_nav > li.active > a,
.user_center_nav > li.active > a:hover,
.user_center_nav > li.active > a:focus {
  color: #108ee9;
  cursor: default;
  border: 0 none;
  background-color: transparent;
  outline: none;
}
.user_center_nav > li.active > a::after,
.user_center_nav > li.active > a:hover::after,
.user_center_nav > li.active > a:focus::after {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.user_center_nav.nav-justified {
  width: 100%;
  border-bottom: 0;
}
.user_center_nav.nav-justified > li {
  float: none;
}
.user_center_nav.nav-justified > li > a {
  margin-bottom: 5px;
  text-align: center;
}
.user_center_nav.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}
@media (min-width: 768px) {
  .user_center_nav.nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .user_center_nav.nav-justified > li > a {
    margin-bottom: 0;
  }
}
.user_center_nav.nav-justified > li > a {
  margin-right: 0;
  border-radius: 4px;
}
.user_center_nav.nav-justified > .active > a,
.user_center_nav.nav-justified > .active > a:hover,
.user_center_nav.nav-justified > .active > a:focus {
  border: 0 none;
}
@media (min-width: 768px) {
  .user_center_nav.nav-justified > li > a {
    border-bottom: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
  }
  .user_center_nav.nav-justified > .active > a,
  .user_center_nav.nav-justified > .active > a:hover,
  .user_center_nav.nav-justified > .active > a:focus {
    border-bottom-color: #fff;
  }
}
/* user_center 内容选项 */
.wk_ucmci_center {
  float: left;
  margin-left: 30px;
}
.wk_ucmci_center > li {
  margin-bottom: -1px;
  display: inline-block;
}
.wk_ucmci_center > li > a {
  margin-right: 2px;
  font-size: 14px;
  color: #999999;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 0 none;
  border-radius: 0;
}
.wk_ucmci_center > li > a:hover {
  border-color: transparent;
  background-color: transparent;
  color: #404040;
}
.wk_ucmci_center > li.active > a,
.wk_ucmci_center > li.active > a:hover,
.wk_ucmci_center > li.active > a:focus {
  color: #108ee9;
  cursor: default;
  background-color: transparent;
  border: 0 none;
  outline: none;
}
.wk_ucmci_center.nav-justified {
  width: 100%;
  border-bottom: 0;
}
.wk_ucmci_center.nav-justified > li {
  float: none;
}
.wk_ucmci_center.nav-justified > li > a {
  margin-bottom: 5px;
  text-align: center;
}
.wk_ucmci_center.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}
@media (min-width: 768px) {
  .wk_ucmci_center.nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .wk_ucmci_center.nav-justified > li > a {
    margin-bottom: 0;
  }
}
.wk_ucmci_center.nav-justified > li > a {
  margin-right: 0;
  border-radius: 4px;
}
.wk_ucmci_center.nav-justified > .active > a,
.wk_ucmci_center.nav-justified > .active > a:hover,
.wk_ucmci_center.nav-justified > .active > a:focus {
  border: 0 none;
}
@media (min-width: 768px) {
  .wk_ucmci_center.nav-justified > li > a {
    border-bottom: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
  }
  .wk_ucmci_center.nav-justified > .active > a,
  .wk_ucmci_center.nav-justified > .active > a:hover,
  .wk_ucmci_center.nav-justified > .active > a:focus {
    border-bottom-color: #fff;
  }
}
/* 我的账单中心表单 */
.table_bill_th {
  border: 1px solid #f2f2f2;
  background-color: #f7f8fa;
}
.table_bill_th > thead > tr > th,
.table_bill_th > tbody > tr > th,
.table_bill_th > tfoot > tr > th,
.table_bill_th > thead > tr > td,
.table_bill_th > tbody > tr > td,
.table_bill_th > tfoot > tr > td {
  border: 1px solid #f2f2f2;
  background-color: #f7f8fa;
  text-align: center;
  font-weight: normal;
  color: #404040;
}
.table_bill_th > thead > tr > th,
.table_bill_th > thead > tr > td {
  border-bottom-width: 2px;
}
/* base 页面基础 */
body {
  background-color: #f4f6f8;
  color: #404040;
  font-family: "PingFang SC", "Microsoft YaHei", Helvetica, "Open Sans", Arial, "Hiragino Sans GB", STHeiti, SimSun, sans-serif;
}
ul,
ol,
li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
a,
a:hover,
a:focus {
  text-decoration: none;
}
.wk_fixedhd_warper {
  /* height: 2000px; */
  display: block;
  margin: 0 auto;
}
.wk_fixedhd_warper #wk_header {
  position: fixed;
}
.wk_fixedhd_warper .wk_frame {
  padding-top: 100px;
}
.wk_statichd_warper {
  /* height: 2000px; */
  display: block;
  margin: 0 auto;
}
.wk_statichd_warper #wk_header {
  position: relative;
}
.wk_statichd_warper .wk_frame {
  z-index: 0;
}
.wk_frame_link {
  padding-top: 70px;
}
#wk_header {
  left: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 9px rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 9px rgba(0, 0, 0, 0.05);
}
#wk_header .search-box {
  position: relative;
}
#wk_header .container-fluid {
  padding: 0;
}
#wk_header .navbar-form {
  margin: 17px 50px 17px 0;
}
#wk_header .search-box .form-control {
  width: 225px;
  height: 38px;
  padding: 8px 35px 8px 15px;
  font-size: 14px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 0 none;
  border-radius: 100px;
  border: 1px solid #eee;
  background-color: #eee;
  transition: width .3s ease;
  color: #404040;
}
#wk_header .search-box .form-control:focus,
#wk_header .search-box .form-control.focusing {
  width: 260px;
  outline: 0;
}
#wk_header .search-box button {
  position: absolute;
  top: 4px;
  right: 5px;
  z-index: 1;
  width: 30px;
  height: 30px;
  padding: 0;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 0 none;
  outline: none !important;
  -webkit-box-shadow: 0 0 0 transparent !important;
  box-shadow: 0 0 0 transparent !important;
  color: #969696;
  transition: all .3s ease;
}
#wk_header .search-box .form-control:focus + button {
  background-color: #969696 !important;
  color: #fff;
}
#wk_header .search-box button:hover {
  border: 0 none;
}
#wk_header .search-box button:focus,
#wk_header .search-box button.focus {
  outline: none;
}
#wk_header .search-box button:active {
  -webkit-box-shadow: 0 0 0 transparent !important;
  box-shadow: 0 0 0 transparent !important;
}
#wk_header .search-suggest-words {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  z-index: 10;
  width: 100%;
  padding: 20px 0 10px 10px;
  font-size: 0;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 9px rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 9px rgba(0, 0, 0, 0.05);
}
#wk_header .search-suggest-words .item {
  padding: 0 13px;
  margin-right: 10px;
  margin-bottom: 10px;
  display: inline-block;
  font-size: 14px;
  line-height: 26px;
  color: #108ee9;
  border: none;
  border-radius: 5px;
  background-color: rgba(46, 158, 239, 0.25);
  cursor: pointer;
}
#wk_header .user_img > img {
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid #fff;
}
#wk_header .user_img:hover > img {
  border: 2px solid #108ee9;
}
#wk_header .navbar_wekuo .navbar-nav > .open > .user_img > img {
  border: 2px solid #108ee9;
}
#wk_header .primary-nav {
  margin-left: 50px;
}
#wk-navbar-collapse .icon-wk_9015,
#wk-navbar-collapse .icon-wk_9013 {
  font-size: 13px;
}
#wk-navbar-collapse .dropdown-menu > li.logout a {
  color: #f00;
}
#wk-navbar-collapse .dropdown-menu > li.logout a .icon-wk_9014 {
  font-size: 12px;
}
/* 左边功能导航 */
.wk_main_l {
  width: 150px;
  padding: 10px 0;
  background-color: #fff;
  position: absolute;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
}
.wk_main_l.affix {
  position: fixed;
  top: 70px;
}
.wk_main_l .wk_ml_nav > li.line {
  margin: 10px;
  height: 2px;
  background-color: #f2f2f2;
}
.wk_main_l .wk_ml_nav > li > a {
  display: block;
  line-height: 40px;
  background-color: #fff;
  padding: 0 20px;
  color: #404040;
  font-size: 16px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.wk_main_l .wk_ml_nav > li > a > i {
  display: inline-block;
  font-size: 15px;
  width: 30px;
}
.wk_main_l .wk_ml_nav > li > a .icon-wk_9017 {
  font-size: 17px;
}
.wk_main_l .wk_ml_nav > li > a .icon-wk_9018 {
  font-size: 16px;
}
.wk_main_l .wk_ml_nav > li > a .icon-wk_9019 {
  font-size: 14px;
}
.wk_main_l .wk_ml_nav > li > a:hover {
  color: #108ee9;
}
.wk_main_l .wk_ml_nav > li.active > a {
  background-color: rgba(16, 142, 233, 0.9);
  color: #fff;
}
/* 主内容区域 */
.wk_pri_main {
  margin-left: 180px;
  position: relative;
}
.wk_pri_main .wk_main_content {
  float: left;
  width: 100%;
}
.wk_pri_main .wk_main_content_inner {
  margin-right: 340px;
}
.wk_pri_main .wk_main_slider {
  float: left;
  margin-left: -310px;
  width: 310px;
}
.wk_pri_main .wk_main_slider .wk_ms_section {
  position: relative;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
}
.wk_pri_main .wk_main_slider .wk_ms_section + .wk_ms_section {
  margin-top: 20px;
}
.wk_pri_main .wk_main_slider .wk_mss_header {
  font-weight: normal;
  height: 55px;
  padding: 0 20px;
  background-color: #fff;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
}
.wk_pri_main .wk_main_slider .wk_mss_header .wk_mssh_tit {
  color: #404040;
  font-weight: normal;
  margin: 0;
  flex-grow: 1;
  line-height: 55px;
}
.wk_pri_main .wk_main_slider .wk_mss_header .wk_mssh_tit > i {
  color: #ff4c52;
  display: inline-block;
  width: 20px;
  font-size: 16px;
}
.wk_pri_main .wk_main_slider .wk_mss_header .wk_mssh_more {
  min-width: 100px;
  text-align: right;
  font-size: 14px;
  color: #404040;
}
.wk_pri_main .wk_main_slider .wk_mss_header .wk_mssh_more:hover {
  color: #108ee9;
}
.wk_pri_main .wk_main_slider .wk_mss_header .wk_mssh_more > i {
  font-size: 12px;
  display: inline-block;
}
.wk_pri_main .wk_main_slider .wk_mss_body {
  background-color: #fff;
}
.wk_pri_main .wk_main_slider .wk_mss_edit {
  display: block;
  font-size: 18px;
  line-height: 42px;
  text-decoration: none;
  text-align: center;
  color: #404040;
  background-color: #fff;
  font-weight: normal;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.wk_pri_main .wk_main_slider .wk_mss_edit > i {
  display: inline-block;
  width: 30px;
  font-size: 16px;
}
.wk_pri_main .wk_main_slider .wk_mss_edit:hover {
  color: #108ee9;
  -webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
}
.wk_all_main {
  position: relative;
}
.wk_all_main .wk_main_content {
  float: left;
  width: 100%;
}
.wk_all_main .wk_main_content_inner {
  margin-right: 340px;
  background-color: #fff;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
}
.wk_all_main .wk_main_slider {
  float: left;
  margin-left: -310px;
  width: 310px;
}
.wk_all_main .wk_main_slider .wk_ms_section {
  position: relative;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
}
.wk_all_main .wk_main_slider .wk_ms_section + .wk_ms_section {
  margin-top: 20px;
}
.wk_all_main .wk_main_slider .wk_mss_header {
  font-weight: normal;
  height: 55px;
  padding: 0 20px;
  background-color: #fff;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
}
.wk_all_main .wk_main_slider .wk_mss_header .wk_mssh_tit {
  color: #404040;
  font-weight: normal;
  margin: 0;
  flex-grow: 1;
  line-height: 55px;
}
.wk_all_main .wk_main_slider .wk_mss_header .wk_mssh_tit > i {
  color: #ff4c52;
  display: inline-block;
  width: 20px;
  font-size: 16px;
}
.wk_all_main .wk_main_slider .wk_mss_header .wk_mssh_more {
  min-width: 100px;
  text-align: right;
  font-size: 14px;
  color: #404040;
}
.wk_all_main .wk_main_slider .wk_mss_header .wk_mssh_more:hover {
  color: #108ee9;
}
.wk_all_main .wk_main_slider .wk_mss_header .wk_mssh_more > i {
  font-size: 12px;
  display: inline-block;
}
.wk_all_main .wk_main_slider .wk_mss_body {
  background-color: #fff;
}
.wk_all_main .wk_main_slider .wk_mss_edit {
  display: block;
  font-size: 18px;
  line-height: 42px;
  text-decoration: none;
  text-align: center;
  color: #404040;
  background-color: #fff;
  font-weight: normal;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.wk_all_main .wk_main_slider .wk_mss_edit > i {
  display: inline-block;
  width: 30px;
  font-size: 16px;
}
.wk_all_main .wk_main_slider .wk_mss_edit:hover {
  color: #108ee9;
  -webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
}
/* 首页-推荐话题 */
.wk_mss_themes {
  padding-bottom: 20px;
}
.wk_mss_themes > li > a {
  display: block;
  background-color: #fff;
  padding: 10px 20px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.wk_mss_themes > li > a .themes_img {
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 50%;
  float: left;
}
.wk_mss_themes > li > a .themes_img > img {
  width: 100%;
  height: 100%;
}
.wk_mss_themes > li > a .themes_info {
  margin-left: 80px;
  height: 60px;
  overflow: hidden;
}
.wk_mss_themes > li > a .themes_info .theme_name {
  color: #404040;
  font-size: 16px;
  font-weight: normal;
  margin: 0 0 20px 0;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.wk_mss_themes > li > a .themes_info .theme_ft {
  font-size: 0;
}
.wk_mss_themes > li > a .themes_info .theme_ft > span {
  display: inline-block;
  width: 50%;
  font-size: 14px;
  color: #999999;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.wk_mss_themes > li > a:hover {
  background-color: rgba(51, 122, 183, 0.1);
}
.wk_mss_themes > li > a:hover .theme_name {
  color: #108ee9;
}
/* 首页-推荐课程 */
.wk_mss_courses {
  padding: 0 20px 20px;
  margin: 0;
}
.wk_mss_courses > li {
  width: 100%;
}
.wk_mss_courses > li + li {
  margin-top: 20px;
}
.wk_mss_courses > li > a {
  display: block;
  overflow: hidden;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  -webkit-transition: all .25s;
  -moz-transition: all .25s;
  -ms-transition: all .25s;
  -o-transition: all .25s;
  transition: all .25s;
}
.wk_mss_courses > li > a > img {
  width: 100%;
}
.wk_mss_courses > li > a > .name {
  color: #404040;
  font-weight: 500;
  font-size: 14px;
  padding: 0 15px;
  margin: 20px 0 10px;
}
.wk_mss_courses > li > a > .list_ft {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  padding: 0 15px 10px;
}
.wk_mss_courses > li > a > .list_ft > span {
  flex-grow: 1;
  font-size: 12px;
}
.wk_mss_courses > li > a > .list_ft > .free {
  color: #5cb600;
}
.wk_mss_courses > li > a > .list_ft > .price {
  color: #ff4c52;
}
.wk_mss_courses > li > a > .list_ft > .learned {
  color: #999999;
}
.wk_mss_courses > li > a:hover {
  -webkit-transform: translateY(-2px);
  -moz-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  -o-transform: translateY(-2px);
  transform: translateY(-2px);
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}
.wk_mss_courses > li > a:hover > .name {
  color: #108ee9;
}
/* 首页-推荐文章 */
.wk_mss_articles {
  padding-bottom: 20px;
  background-color: #fff;
}
.wk_mss_articles > li > a {
  display: block;
  background-color: #fff;
  padding: 0 20px;
  color: #404040;
  font-size: 14px;
  line-height: 30px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.wk_mss_articles > li > a:hover {
  background-color: rgba(16, 142, 233, 0.1);
  color: #108ee9;
}
.wk_mss_lives {
  padding-bottom: 20px;
  background-color: #fff;
}
.wk_mss_lives > li > a {
  display: block;
  overflow: hidden;
  padding: 15px;
  position: relative;
}
.wk_mss_lives > li > a:not(:last-child) {
  border-bottom: 1px solid #f2f2f2;
}
.wk_mss_lives > li > a .cover-zone {
  float: left;
  width: 100px;
  height: 65px;
}
.wk_mss_lives > li > a .cover-zone .cover-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.wk_mss_lives > li > a .wk-live-main {
  margin-left: 115px;
  height: 65px;
}
.wk_mss_lives > li > a .wk-live-main .wl-name {
  margin: 3px 0 7px 0;
  min-height: 40px;
  font-size: 14px;
  font-weight: 500;
  color: #404040;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.wk_mss_lives > li > a .wk-live-main .learned {
  margin: 0;
  font-size: 12px;
  color: #999999;
  line-height: 16px;
}
.wk_mss_lives > li > a .wk-live-main .price {
  display: block;
  position: absolute;
  right: 20px;
  bottom: 15px;
  z-index: 1;
  padding: 2px 5px;
  min-width: 55px;
  border: 1px solid #ff4c52;
  border-radius: 3px;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #ff4c52;
}
.wk_mss_lives > li > a:hover {
  background-color: rgba(16, 142, 233, 0.1);
  color: #108ee9;
}
.wk_mss_lives > li > a:hover .wl-name {
  color: #108ee9;
}
/* 文章-文章详情页-作者介绍 */
.wk_mss_author_data {
  border: 1px solid #f2f2f2;
  margin-top: 35px;
  position: relative;
  padding: 50px 20px 20px;
}
.wk_mss_author_data .wk_mssad_img {
  position: absolute;
  top: -35px;
  left: 10px;
  width: 70px;
  height: 70px;
  overflow: hidden;
  border-radius: 50%;
  display: block;
}
.wk_mss_author_data .wk_mssad_img > img {
  width: 100%;
  height: 100%;
}
.wk_mss_author_data .wk_mssad_name {
  font-size: 16px;
  line-height: 26px;
  min-height: 26px;
  max-height: 51px;
  margin-bottom: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.wk_mss_author_data .wk_mssad_summary {
  font-size: 14px;
  line-height: 20px;
  color: #404040;
}
.wk_mss_author_data .wk_mssad_articlenum {
  position: relative;
  color: #999999;
  margin: 10px 0;
}
.wk_mss_author_data .wk_mssad_articlenum > i {
  font-size: 13px;
}
/* 文章-文章详情页-作者最新文章 */
.wk_mss_newest {
  border-top: 1px solid #f2f2f2;
  padding: 20px 0 25px 0;
}
.wk_mss_newest .wk_mssn_title {
  margin: 0;
  font-size: 16px;
  font-weight: normal;
  color: #404040;
}
.wk_mss_newest .wk_mssn_articles {
  padding: 20px 0;
}
.wk_mss_newest .wk_mssn_articles > li {
  overflow: hidden;
}
.wk_mss_newest .wk_mssn_articles > li + li {
  margin-top: 10px;
}
.wk_mss_newest .wk_mssn_articles > li .wk_mssna_title {
  color: #404040;
  display: block;
  max-width: 100%;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.wk_mss_newest .wk_mssn_articles > li .wk_mssna_title:hover {
  color: #108ee9;
}
.wk_mss_newest .wk_mssn_articles > li .wk_mssna_ft {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  margin-top: 5px;
}
.wk_mss_newest .wk_mssn_articles > li .wk_mssna_ft .wk_mssnaf_sub {
  flex-grow: 1;
}
.wk_mss_newest .wk_mssn_articles > li .wk_mssna_ft .wk_mssnaf_time {
  color: #999999;
  flex-grow: 1;
  text-align: right;
}
.wk_mss_newest .wk_mssna_learn {
  background-color: #4285f4;
  color: #fff;
  border: 1px solid #108ee9;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.wk_mss_newest .wk_mssna_learn:hover {
  background-color: #108ee9;
}
/* 文章-文章详情页-感兴趣的文章 */
.wk_mss_interest {
  padding: 20px 20px 0;
}
.wk_mss_interest .wk_mssn_title {
  margin: 0;
  font-size: 16px;
  font-weight: normal;
  color: #404040;
}
.wk_mss_interest .wk_mssn_articles {
  padding: 10px 0;
}
.wk_mss_interest .wk_mssn_articles > li {
  overflow: hidden;
  padding: 10px 0 10px 20px;
  border-bottom: 1px solid #f4f6f8;
  position: relative;
}
.wk_mss_interest .wk_mssn_articles > li::before {
  content: '';
  width: 6px;
  height: 6px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  top: 18px;
  left: 2px;
  background-color: #108ee9;
}
.wk_mss_interest .wk_mssn_articles > li .wk_mssna_title {
  color: #404040;
  display: block;
  max-width: 100%;
}
.wk_mss_interest .wk_mssn_articles > li .wk_mssna_title:hover {
  color: #108ee9;
}
/* 对话框 */
.dialog {
  margin: 0 auto 100px;
  border-radius: 10px;
  padding: 20px;
  background-color: #ffffff;
  color: #000;
  z-index: 9999;
  box-shadow: 0 1px 6px rgba(0, 34, 90, 0.5);
  display: none;
}
.dialog .icon {
  background-size: 100% 100%;
}
.success-dialog {
  width: 300px;
  height: 150px;
  text-align: center;
}
.success-dialog .icon {
  width: 45px;
  height: 45px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
}
.success-dialog .success-icon {
  background-image: url('/res/images/success.png');
}
.success-dialog .error-icon {
  background-image: url('/res/images/error.png');
}
.success-dialog .text {
  margin-top: 25px;
  font-size: 18px;
  color: #212121;
}
.confirm-dialog {
  position: relative;
  width: 340px;
  min-height: 160px;
}
.confirm-dialog .title {
  font-size: 18px;
  margin-top: 0;
  color: #212121;
}
.confirm-dialog .text {
  min-height: 60px;
  line-height: 30px;
  padding: 0 10px;
  color: #999;
}
.dialog-btn {
  width: 70px;
  height: 30px;
  padding: 0;
  line-height: 30px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 0 none;
}
.dialog-btn.cancle {
  background-color: transparent;
  color: #999;
}
.dialog-btn.confirm {
  background-color: #fff;
  border: 1px solid #108ee9;
  border-radius: 5px;
  color: #108ee9;
}
/**
 * footer  底部 版权
 */
#footer {
  width: 100%;
  position: relative;
  z-index: 10;
  background-color: #212425;
  color: #fff;
  padding: 30px 0 35px;
  margin-top: 50px;
}
#footer ul {
  padding: 0;
  margin: 0;
}
#footer .primary-line > div {
  height: 160px;
}
#footer .primary-line > div > h4 {
  font-weight: 600;
  font-size: 13px;
  margin-bottom: 25px;
}
#footer .primary-line ul > li {
  float: left;
}
#footer .primary-line ul > li + li {
  margin-left: 20px;
  margin-bottom: 10px;
}
#footer .primary-line ul > li > a {
  display: block;
  font-size: 12px;
}
#footer .primary-line > div > p {
  font-size: 12px;
  color: #999999;
}
#footer .primary-line .qr-code {
  margin-top: 10px;
  margin-bottom: 15px;
  width: 75px;
  height: 75px;
}
#footer .primary-line .text-right > p {
  margin-bottom: 0;
}
#footer .sec-line > div > h4 {
  margin-top: 30px;
  margin-bottom: 15px;
  color: #fff;
  font-weight: 600;
  font-size: 13px;
}
#footer .sec-line ul > li {
  float: left;
}
#footer .sec-line ul > li + li {
  margin-left: 20px;
}
#footer .sec-line ul > li > a {
  color: #999999;
}
#footer .sec-line ul > li > a:hover {
  color: #108ee9;
  text-decoration: underline;
}
#footer .sec-line > .text-center {
  padding-top: 35px;
}
#footer .sec-line > .text-center > p {
  color: #999999;
  font-size: 12px;
  margin-bottom: 5px;
}
#footer .be-line {
  border-bottom: 1px dashed #555555;
}
/*扫码登录*/
#weiku-login-area {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}
#weiku-login-area .w-dialog-mask {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
#weiku-login-area .w-dialog-warp {
  width: 360px;
  height: 430px;
  position: fixed;
  left: 50%;
  top: 50%;
  margin: -215px 0 0 -180px;
  background-color: #fff;
  border-radius: 10px;
}
#weiku-login-area .dialog-close {
  display: block;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  position: absolute;
  right: 10px;
  top: 10px;
  color: #d1d1d1;
  font-size: 14px;
}
#weiku-login-area .wx-login .title {
  text-align: center;
  padding: 20px 0 0 0;
}
#weiku-login-area .wx-login .title > img {
  height: 70px;
}
#weiku-login-area .wx-login .main > p {
  font-size: 14px;
  display: inline-block;
  border-bottom: 3px solid #108ee9;
  color: #108ee9;
  padding: 5px 0;
}
#weiku-login-area .wx-login .wx-code-warp {
  width: 270px;
  height: 268px;
  margin: 0 auto;
  overflow: hidden;
  transform: scale(0.88);
  transform-origin: top center;
}
#weiku-login-area .wx-login .wx-code {
  display: inline-block;
  margin-top: -59px;
  margin-left: -15px;
}
#weiku-login-area .wx-login .wx-code > img {
  width: 220px;
}
#weiku-login-area .wx-dialog-ft {
  text-align: center;
  margin-top: -15px;
  font-size: 12px;
  color: #999;
}
.pagebar > li > a {
  cursor: pointer;
}
/*回到顶部*/
.fixed-bar.wk-feedback {
  display: none;
}
.fixed-bar .wk-icon {
  width: 100%;
  height: 100%;
  cursor: pointer;
  line-height: 50px;
  text-align: center;
  display: block;
  font-size: 20px;
  color: #999999;
}
.fixed-bar {
  position: fixed;
  right: 40px;
  z-index: 1000;
  bottom: 70px;
}
.fixed-bar li {
  height: 52px;
  width: 52px;
  background-color: #fff;
  border: 1px solid #f2f2f2;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
.fixed-bar li:hover {
  border-color: #108ee9;
}
.fixed-bar li:hover .fixed-bar-text {
  display: block;
}
.fixed-bar li:hover .fixed-bar-icon {
  display: none;
}
.fixed-bar .wk-weixin {
  position: relative;
}
.fixed-bar .wk-weixin a {
  position: relative;
  display: block !important;
  text-align: center;
  width: 100%;
  height: 100%;
}
.fixed-bar .wk-weixin a .text {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.fixed-bar .wk-weixin a:hover {
  background: #108ee9;
}
.fixed-bar .wk-weixin a:hover .text {
  display: block;
  color: #fff;
  padding: 5px 10px;
}
.fixed-bar .wk-weixin i {
  font-size: 28px;
  line-height: 50px;
}
.fixed-bar .wk-weixin .weixin {
  position: absolute;
  left: -160px;
  width: 150px;
  top: 50%;
  margin-top: -88px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  opacity: 0;
  filter: alpha(opacity=0);
  visibility: hidden;
  -webkit-transform: scale(0.1, 0.1);
  -moz-transform: scale(0.1, 0.1);
  -ms-transform: scale(0.1, 0.1);
  -o-transform: scale(0.1, 0.1);
  transform: scale(0.1, 0.1);
  transform-origin: right 50%;
  -webkit-transform-origin: right 50%;
  -moz-transform-origin: right 50%;
  -o-transform-origin: right 50%;
}
.fixed-bar .wk-weixin .weixin p {
  margin-bottom: 0;
}
.fixed-bar .wk-weixin .weixin::after {
  content: '';
  position: absolute;
  border: 8px solid transparent;
  border-left: 8px solid #fff;
  top: 50%;
  margin-top: -8px;
  right: -16px;
}
.fixed-bar .wk-weixin:hover .weixin {
  opacity: 1;
  filter: alpha(opacity=100);
  visibility: visible;
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}
.fixed-bar a {
  display: block;
}
.fixed-bar .fixed-bar-text {
  display: none;
  color: #fff;
  padding: 5px 10px;
  background: #108ee9;
}
.fixed-bar .go-top {
  display: none;
}
.fixed-bar .go-top .fixed-bar-icon {
  text-align: center;
  padding: 5px;
}
.fixed-bar .go-top .fixed-bar-icon i {
  font-size: 30px;
}
.fixed-bar .wk-feedback,
.fixed-bar .go-top {
  margin-top: -1px;
}
/* 加载部分 */
#loading {
  background-color: #fff;
  display: none;
  color: #999;
  font-size: 16px;
}
#loading > img {
  width: 150px;
  height: 70px;
  display: block;
  margin: 0 auto;
}
/* 无内容，提示部分 */
.no-content-msg {
  padding: 20px 0;
  text-align: center;
}
.no-content-msg > h6 {
  text-align: center;
  font-size: 18px;
  font-weight: lighter;
  color: #999999;
}
.no-content-msg > .induce-tip {
  text-align: center;
  font-size: 20px;
  color: #404040;
}
.no-content-msg .nc-checkmore {
  margin-top: 10px;
  font-size: 16px;
}
.prize-sidebar {
  margin: 20px 0;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
}
