{include file="Public:meta"}

<title>修改密码</title>
</head>
<body>
<div class="page-container">
    <form action="" method="post" class="form form-horizontal" id="form-user-add">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">
                <span class="c-red">*</span>
                原密码：</label>
            <div class="formControls col-xs-6 col-sm-6">
                <input type="password" class="input-text" value="" placeholder="原密码" id="old_manager_pwd" name="password">
            </div>
            <span style="color: red" id="old_manager_pwd_span"></span>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">
                <span class="c-red">*</span>
                新密码：</label>
            <div class="formControls col-xs-6 col-sm-6">
                <input type="password" class="input-text" value="" placeholder="新密码" id="new_manager_pwd" name="newpassword">
            </div>
            <span style="color: red" id="new_manager_pwd_span"></span>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">
                <span class="c-red">*</span>
                确认新密码：</label>
            <div class="formControls col-xs-6 col-sm-6">
                <input type="password" class="input-text" value="" placeholder="确认新密码" id="ok_manager_pwd" name="okpassword">
            </div>
            <span style="color: red" id="ok_manager_pwd_span"></span>
        </div>
        <div class="row cl">
            <div class="col-9 col-offset-2">
                <input type="hidden" name="uid" value="{$uid}"/>
                <input class="btn btn-primary radius" id="btnsubmit" disabled type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
                <input class="btn btn-default radius" type="button" type="text" onclick="layer_close()" value="&nbsp;&nbsp;取消&nbsp;&nbsp;">
            </div>
        </div>
    </form>
</div>
<!--_footer 作为公共模版分离出去-->
{include file="Public:footer"}
<!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__STATIC__/../Admin/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="__STATIC__/../Admin/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="__STATIC__/../Admin/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript">
$(function(){
    $('#ok_manager_pwd').keyup(function(){
        if($(this).val() != $('#new_manager_pwd').val()){
            $('#ok_manager_pwd_span').html('两次密码不同！');
            $("#btnsubmit").attr('disabled','disabled');
        }else{
            $('#ok_manager_pwd_span').html('');
            $("#btnsubmit").removeAttr('disabled');
        }
    })
});
</script>
</body>
</html>